@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700&family=Oswald:wght@600&display=swap");
@import url(/assets/css/navbar.css);
@import url(/assets/css/banner.css);
@import url(https://cdn-uicons.flaticon.com/2.0.0/uicons-thin-straight/css/uicons-thin-straight.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: inherit; 
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  justify-content: center;
  align-items: center;
  /* height: rem; */
}

main {
  overflow: hidden;
  display: block;
}

.carousel-container img {
  vertical-align: middle;
}

.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: all 0.5s;
}

.content-text {
  position: absolute;
  top: 45%;
  left: 250px;
}

.content-text h3 {
  font-family: Playfair Display;
  font-size: 58px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
  color: white;
}

.content-text p {
  position: relative;
  left: 36%;
  width: 626px;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
  color: white;
}

.carousel-container button {
  display: flex;
  position: absolute;
  top: 70%;
  left: 82%;
  padding: 15px 15px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  border: 1px solid #fff;
  color: rgba(229, 194, 0, 1);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.carousel-container button:hover {
  background-color: black;
  border: 1px solid black;
}

.carousel-controls .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.carousel-controls .arrow i {
  font-size: 30px;
  color: #fff;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.carousel-controls ul {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
}

.carousel-controls ul li {
  width: 63px;
  height: 10px;
  background: grey;
  opacity: 0.2;
  margin: 0.5px;
  cursor: pointer;
}

.carousel-controls ul li.selected {
  background: white;
  opacity: 8;
}

.category-title {
  position: relative;
  padding: 60px 0 0 31px;
  color: var(--Gold, #e5c200);
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*.category-options {
  position: relative;
  padding: 28px 0 0 31px;
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2vmin;
  grid-auto-flow: dense;
}*/
.category-options {
  --min-gap: 2px;
  --num-cols: 4;
  --row-height: calc((100vh - 2 * var(--min-gap)) / 2);

  display: grid;
  padding: var(--min-gap);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--min-gap);
}

.category-options section {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.category-options > section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-left {
  grid-column: span 2;
  grid-row: span 2;
}

.image-right {
  grid-column: span 2;
}

.category-options-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 600px) {
  .category-options {
    grid-template-columns: repeat(1, 1fr);
  }
}

.essentials-tag {
  background: url("/assets/images/essentials.png");
  background-color: lightgray;
  background-position: 50%;
  background-size: cover;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

.essentials-tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.essentials-tag:hover::before {
  opacity: 1;
  z-index: 1;
}

.essentials-tag h3 {
  color: var(--light-text-color, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  z-index: 1;
}

.essentials-tag button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  color: rgba(229, 194, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
}

.essentials-tag button:hover {
  background-color: black;
  border-color: black;
  color: white;
}

@media screen and (max-width: 600px) {
  .essentials-tag h3 {
    font-size: 20px; /* Adjusted font size for smaller screens */
    line-height: 30px; /* Adjusted line height for smaller screens */
  }
  
  .essentials-tag button {
    font-size: 15px; /* Adjusted font size for smaller screens */
    padding: 5px 10px; /* Adjusted padding for smaller screens */
  }
}

.product-tab-wrapper {
  display: block;
  padding: 3px;
  align-items: center;
  justify-content: center;
  /* transform: translateX(5%); */
  overflow: hidden;
}

.left-panel-nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
  /* left: 30px; */
}

.left-panel-nav-bar a.highlighted {
  color: #e5c200;
}

.left-panel-nav-bar h3 {
  color: var(--Gold, #e5c200);
  text-align: center;
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 75% */
  letter-spacing: 0.1px;
}

.left-panel-nav-bar a {
  text-decoration: none;
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  padding: 20px;
  position: relative;
  margin-left: 20px;
  /* top: 5px; */
}

.nav-controls span > i {
  font-size: 35px;
  padding: 5px;
  position: relative;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.nav-rect {
  width: 100vw;
  height: 2px;
  background: var(--light-gray-2, #ececec);
  position: relative;
  /* left: 30px; */
}

.panel-carousel-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.left-panel-carousel-container {
  width: 52%;
  height: 100%;
  display: block;
}

.left-panel-carousel {
  /*border: 1px solid red;*/
  height: 800px;
  overflow: hidden;
}

.item-carousel-container-slider {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}

.item-carousel-container-slider section {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 50px;
  /*transform: translateX(-5%);
  padding: 0 15rem;*/
  gap: 5px;
  row-gap: 10px;
}

.right-panel-carousel-container {
  position: absolute;
  width: 50%;
  margin: 10px auto;
  left: 60%;
  transform: translateY(-30px);
}

.right-panel-carousel {
  /*border: 1px solid red;*/
  height: 800px;
  width: 56%;
  overflow: hidden;
}

.right-item-carousel-container-slider {
  display: flex;
  height: 100%;
  width: 130%;
  transition: all 0.5s;
}

.right-item-carousel-container-slider section {
  flex-basis: 100%;
}

.box {
  text-align: center;
  padding: 30px 20px;
}

.box h3 {
  color: var(--text-color, #252b42);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}

.box p {
  color: var(--second-text-color, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  margin-bottom: 5px;
}

.box h4 {
  color: var(--secondary-color-1, #23856d);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}

.footer {
  position: relative;
  /* bottom: -450%; */
  margin-bottom: -10px;
  /* height: 309px; */
  width: 100%;
  padding: 0 195px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  flex: auto;
  background-color: #e5c200;
  justify-content: space-evenly;
}

.footer section {
  padding: 80px 0;
}

.footer section h3 {
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
  margin-bottom: 25px;
}

.footer section p {
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  width: 209px;
  margin-top: 25px;
}

.social-icons {
  margin-top: 25px;
  color: #fff;
  transform: translateX(-6px);
}

.social-icons i {
  margin-left: 10px;
}

.footer section ul {
  list-style-type: none;
}

.footer section ul li {
  margin-bottom: 8px;
}

.footer section a {
  text-decoration: none;
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
