nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  position: relative;
}

.nav-logo-text {
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.nav-center {
  display: flex;
  align-items: center;
  position: relative;
  left: -10px;
  background: #f6f6f6;
  border: none;
  border-radius: 10px;
  width: 487px;
  height: 44px;
  padding-left: 40px;
}

.nav-center > input {
  border: none;
  background: none;
  outline: none;
  margin-left: 10px;
  width: 80%;
  height: 20px;
  font-size: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-right .categories-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}

.nav-right h3 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-right .fa-bars,
.nav-right .fa-magnifying-glass {
  display: none;
}

.fa-angle-down.flipped {
  transform: rotate(180deg);
}

.nav-right .cart-container {
  position: relative;
}

.cart-container .cart-counter {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(229, 194, 0, 1);
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: -10px;
  right: -10px;
}

.categories-dropdown {
  display: none;
  position: absolute;
  width: 250px;
  top: 90px;
  right: 10%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.categories-dropdown a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.categories-dropdown > a:hover {
  background-color: rgba(249, 250, 251, 1);
}

.categories-dropdown.show {
  display: block;
  z-index: 2;
}

.mobile-nav {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-center,
  .nav-right .categories-toggle,
  .nav-right .fa-user {
    display: none;
  }

  .nav-right .fa-bars,
  .nav-right .fa-magnifying-glass {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 4rem;
    z-index: 1;
    right: 0;
    width: 100%;
    background-color: #fff;
    font-family: Inter;
    padding-bottom: 1rem;
  }

  .mobile-nav > div {
    padding: 1rem;
    width: 100%;
  }

  .mobile-nav > div > a {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
  }

  .mobile-nav > div > a > p {
    font-size: 1.5rem;
  }
}
